# Auto detect text files and perform LF normalization
* text=auto

# Ignore EVERYTHING by default
* linguist-ignored

# Only detect SQL and Python
*.sql linguist-language=sql
*.py linguist-language=python

# Keep proper line endings
*.sql text eol=lf
*.md text eol=lf
